<div class="row">
  <div class="col-md-6">
    <img src="{$act.pic}" alt="{$act.act_title}" class="img-thumbnail">
  </div>
  <div class="col-md-6">
    <h1>{$act.act_title}</h1>
    <p>瀏覽人數：{$act.act_counter}</p>
    <div>
    {if $isadmin}
        <a href="act.php?op=act_form&act_sn={$act.act_sn}" class="btn btn-warning">編輯公告</a>
        <script src="class/bootstrap-sweetalert/sweet-alert.min.js"></script>
        <link rel="stylesheet" type="text/css" href="class/bootstrap-sweetalert/sweet-alert.css">
        <script type="text/javascript">
        function delete_act(act_sn){
          swal({
            title: "確定要刪除嗎?",
            text: "刪掉之後,所有資料會消失喔!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "是!我要刪了他!",
            closeOnConfirm: false,
          },
          function(){
            location.href='act.php?op=delete_act&act_sn=' + act_sn;
            swal("好啦!刪完了", "後悔也來不及了!", "success");
          });
        }
        </script>
        <a href="javascript:delete_act('{$act.act_sn}')" class="btn btn-danger">刪除公告</a>
    {/if}
    </div>
  </div>
</div>
<br>
<div class="row">
  <pre>
    {$act.act_content}
  </pre>
</div>
