<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <title>{$system_name}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Shortcut Icon" type="image/x-icon" href="images/icon.png" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link href="jquery/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link href="class/prism.css" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="bootstrap/js/html5shiv.min.js"></script>
      <script src="bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script src="class/prism.js"></script>
    <script src="jquery/external/jquery/jquery.js"></script>
    <script src="jquery/jquery-ui.js"></script>
    <script src="bootstrap/js/jquery.min.js"></script>
    <script src="bootstrap/js/jquery-migrate.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="system_head">
        <img src="images/title.jpg" alt="{$system_name}" class="img-responsive">
      </div>
      <div id="system_main" class="row">
        {if isset($msg)}
          <div class="alert alert-danger">{$msg}</div>
        {/if}
        {if $isuser or $topadmin or $isadmin}
          <div class="col-md-9">
            {if $op=="user_list"}
              {include file='user_list.html'}
            {else if $op=="display_user"}
              {include file="display_user.html"}
            {else if $op=="user_form"}
              {include file='user_form.html'}
            {else if $op=="panel_form"}
              {include file='panel_form.html'}
            {else if $op=="panel_list"}
              {include file='panel_list.html'}
            {else if $op=="display_panel"}
              {include file='display_panel.html'}
            {else if $op=="goods_form"}
              {include file='goods_form.html'}
            {else if $op=='find_list'}
              {include file='find_list.html'}
            {else if $op=="display_goods"}
              {include file='display_goods.html'}
            {else if $op==display_act}
              {include file='display_act.html'}
            {else if $op=="act_form"}
              {include file='act_form.html'}
            {else if $op=="act_list"}
              {include file='act_list.html'}
            {else}
              {include file='panel_list.html'}
            {/if}
          </div>
        {/if}
        {if !$isuser}
        <div class="col-md-9">
          {if $op=="panel_form"}
            {include file='panel_form.html'}
          {else if $op=="panel_list"}
            {include file='panel_list.html'}
          {else if $op=="display_panel"}
            {include file='display_panel.html'}
          {else if $op=="goods_form"}
            {include file='goods_form.html'}
          {else if $op=='find_list'}
            {include file='find_list.html'}
          {else if $op=="display_goods"}
            {include file='display_goods.html'}
          {else if $op==display_act}
            {include file='display_act.html'}
          {else if $op=="act_form"}
            {include file='act_form.html'}
          {else if $op=="act_list"}
            {include file='act_list.html'}
          {else if $op=='user_login'}
            {include file='user_login.html'}
          {else if $op=="user_form"}
            {include file='user_form.html'}
          {else}
            {include file='panel_list.html'}
          {/if}
          </div>
          <div class="col-md-3">
            {include file='side_tool.html'}
            {include file='side_goods.html'}
            {include file='side_act.html'}
          </div>
        {/if}
        {if $isuser}
            <div class="col-md-3">
              {include file='side_tool.html'}
              {include file='side_act.html'}
            </div>
        {/if}
      </div>

      <div id="system_foot">
        <div>當前版本 : vision-1.1.1 beta</div>
        <div>開發者：<a href="index.php?op=user_login">Tfcis20-PikaChu</a></div>
      </div>
    </div>
  </body>
</html>
