<form action="find.php" method="get" role="form">
  <div class="input-group">
    <input name="keyword" type="text"class="form-control" placeholder="請輸入關鍵字">
    <span class="input-group-btn">
      <button class="btn btn-warning" type="submit">搜尋</button>
    </span>
  </div>
</form>
<br>
<form action="user.php" method="post" role="form" class="form-horizion">
  <div class="panel panel-primary">
    <div class="panel-heading">側欄工具</div>
    <div class="panel-body">
      <a href="index.php" class="btn btn-block btn-primary">回到主頁</a>
      {if $isadmin}
        <a href="panel.php?op=panel_form" class="btn btn-block btn-info">新增面板</a>
        <a href="act.php?op=act_form" class="btn btn-block btn-yellow">發布公告</a>
      {/if}
      <a href="user.php" class="btn btn-block btn-success">我的資料</a>
      <a href="act.php?op=act_list" class="btn btn-block btn-warning">查看公告</a>
      {if $isuser}
        <a href="user.php?op=user_logout" class="btn btn-block btn-danger">登出</a>
      {/if}
    </div>
  </div>
</form>
